@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1600658858701'); /* IE9 */
  src: url('iconfont.eot?t=1600658858701#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJwAAsAAAAABhwAAAImAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAokSAE2AiQDCAsGAAQgBYRtBzEbbwXIrrApw69IkW6GeYcDguknYODYIYJov9/svfsmaFKN2jyLJpolQiI0ErSuKdA9k//+r2lKLGyeL8uqjkCV7GH+v3/HuYwcOz2lJuQmXIVeTvAMpc8vc9LYqKaMI7tP3E/9CTSQfL5wiQiKSkoKoN14QAPswtHINqAhbxi74AU+JlA3Zqyyf3m/g7bMXhWIO6MdaBcisszyVaHccDCLJyXV9JAGHqPvx59ltElKBbvp6PbCh/Unp6h47b26DAhRAjpeQoEVIBNnjZkDNcE4NfVM3RQ4Vn3wqdcL3OKoDsH+Oru2CUZgNvjkrRQgwWNRBluTmojylT7sHJH/Nrq5Pi4L3LDGkWIzneBfBc8zttao/3Yjg48c2bNhPlDdzht8v2pgXzY0titlTdU4mpSP21JXRw8O9Pubah26WCFUDU3wVYxmKFTNkJldQUnDKsqqtlC37Op4wwBWE7mGJV8AoesbSds7Cl0/ZGZ/UTLsiLJu1FB3ES5smAvTnckR8tF9QeNlqXI90o3rN6QfYofzmoh7IC5NHBfTeTl/RSnxElvKR70UUag4S/ASPEdxnGHOWUieTAORfDWbqaY3Tb0sga49jDgE8SHXC2R4MikVjBfdyuc3iPYg5uCOnrr0AWElMz1amJoPIK+M6aCeR3ml9EhbEkJBCssk0CWYR2KxDMqb54WIR0wFE1K5lZkzTA01Trc3J393AupsWwpnZqFyHzhp5BgA') format('woff2'),
  url('iconfont.woff?t=1600658858701') format('woff'),
  url('iconfont.ttf?t=1600658858701') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1600658858701#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhankai:before {
  content: "\e632";
}

